[submodule ".bash"]
	path = .config/bash-it
	url = git@github.com:kylescottmcgill/bash-it.git
[submodule "/home/kyle/.config/dircolors"]
	path = /home/kyle/.config/dircolors
	url = git@github.com:trapd00r/LS_COLORS.git
