[core]
	quotepath = false
	editor = nvim
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
	autocrlf = false
	eol = lf
	filemode = false
[color]
	filemode = false
	diff = auto
	status = auto
	branch = auto
	pager = true
	ui = true
[user]
	email = email@kylescottmcgill.com
	name = Kyle Scott Mcgill
	signingkey = 32C9083E7691D6D7
[github]
	user = kylescottmcgill
[format]
	pretty = oneline
[log]
	abbrevCommit = true
	decorate = true
[help]
	autocorrect = 10
[push]
	default = current
[merge]
	renormalize = true
	renamelimit = 4170
[difftool]
	prompt = false
[mergetool]
	prompt = false
[alias]
	accept-ours = "!f() { files=\"$@\"; [ -z $files ] && files='.'; git checkout --ours -- $files; git add -u $files; }; f"
	accept-theirs = "!f() { files=\"$@\"; [ -z $files ] && files='.'; git checkout --theirs -- $files; git add -u $files; }; f"
	todo = grep --heading --break --ignore-case -e '@todo *'
	issues = !ghi
	changelog = "!git log $@ --pretty=\"* %s%n+%n--%n%b--%n\" | asciidoctor -o changelog.html -; #"
	browse = !hub browse
	restore = "!git checkout $(git rev-list -n 1 HEAD -- \"$1\")^ -- \"$1\""
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true

[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	cleanup = strip
	gpgsign = true
