[submodule "bash"]
	path = .config/bash-it
	url = git@github.com:kylescottmcgill/bash-it.git
[submodule "dircolors"]
	path = .config/dircolors
	url = git@github.com:trapd00r/LS_COLORS.git
[submodule "private"]
	path = .config/private
	url = git@github.com:kylescottmcgill/private.git
[submodule "private"]
	path = .config/private
	url = git@github.com:kylescottmcgill/private
