! General -----------------------------------------
xterm*termName: xterm-256color
xterm*locale: true

#include "/home/kyle/bow"

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xft.dpi: 96

URxvt*termName:             rxvt-256color
URxvt*loginShell:           false
URxvt*saveLines:            1024
URxvt*geometry:             80x20
URxvt*font:                 xft:Terminus:pixelsize=12
URxvt*boldFont:             xft:Terminus:pixelsize=12
URxvt*scrollBar:            false
URxvt*cursorBlink:          true
URxvt*internalBorder:       20
! URxvt*perl-ext-common:      default,url-select,keyboard-select
! URxvt.url-select.launcher:  /usr/bin/dwb
! URxvt.url-select.launcher:  /usr/bin/urxvt -e elinks
! URxvt.url-select.underline: true
! URxvt.keysym.M-u:           perl:url-select:select_next
! URxvt.keysym.M-v:           perl:keyboard-select:activate

!--- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---
! URxvt*background: #ffffff
! URxvt*foreground: #262626

! --- standard colors ---
! black
! URxvt*color0: #000000
! bright_black
! URxvt*color8: #262626
! red
! URxvt*color1: #a95858
! bright_red
! URxvt*color9: #dcbcbc
! green
! URxvt*color2: #58a958
! bright_green
! URxvt*color10: #bcdcbc
! yellow
! URxvt*color3: #a9a958
! bright_yellow
! URxvt*color11: #dcdcbc
! blue
! URxvt*color4: #5858a9
! bright_blue
! URxvt*color12: #bcbcdc
! magenta
! URxvt*color5: #a958a9
! bright_magenta
! URxvt*color13: #dcbcdc
! cyan
! URxvt*color6: #58a9a9
! bright_cyan
! URxvt*color14: #bcdcdc
! white
! URxvt*color7: #d9d9d9
! bright_white
! URxvt*color15: #ffffff

! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------


! vim: et sw=2 syn=xdefaults

