! General -----------------------------------------
xterm*termName: xterm-256color
xterm*locale: true

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xft.dpi: 96

URxvt*termName: rxvt-256color
URxvt*loginShell: false
URxvt*saveLines: 1024
URxvt*geometry: 80x20
URxvt*font: xft:Terminus:pixelsize=12
URxvt*boldFont: xft:Terminus:pixelsize=12
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*internelBorder: 10
URxvt-white*internalBorder: 20

URxvt*perl-ext-common:      default,clipboard,url-select,keyboard-select,matcher
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.matcher.button:       1
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.M-c:           perl:clipboard:copy
URxvt.keysyn.M-v:           perl:clipboard:paste

URxvt*foreground: #e6e1dc
URxvt*background: #2b2b2b
URxvt*cursor: #e6e1dc

URxvt*color0: #333333
URxvt*color8: #666666
URxvt*color1: #d15517
URxvt*color9: #d11723
URxvt*color2: #36b217
URxvt*color10: #00d56a
URxvt*color3: #d1b217
URxvt*color11: #ffea55
URxvt*color4: #55aaff
URxvt*color12: #1793d1
URxvt*color5: #b217d1
URxvt*color13: #d11793
URxvt*color6: #93d1b2
URxvt*color14: #17d1b2
URxvt*color7: #eeeeee
URxvt*color15: #ffffff

URxvt-white*background: #eeeeee
URxvt-white*foreground: #888888

URxvt-white*color0: #eeeeee
URxvt-white*color1: #666666
URxvt-white*color2: #666666
URxvt-white*color3: #666666
URxvt-white*color4: #666666
URxvt-white*color5: #666666
URxvt-white*color6: #666666
URxvt-white*color7: #888888

URxvt-white*color8: #bbbbbb
URxvt-white*color9: #6688bb
URxvt-white*color10: #6688bb
URxvt-white*color11: #6688bb
URxvt-white*color12: #6688bb
URxvt-white*color13: #6688bb
URxvt-white*color14: #6688bb
URxvt-white*color15: #111111

URxvt-white*highlightColor: #aaaaaa
URxvt-white*highlightTextColor: #000000

URxvt-white*cursorColor: #333333

URxvt-white*colorIT: #666666
URxvt-white*colorBD: #aaaaaa
URxvt-white*colorUL: #000000

! vim: et sw=2 syn=xdefaults

