@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root {
    /* TAB VARIABLES */
    --bg-light: #151B22;
    --bg-dark: #151B22;

    --fg-light: #EBECEE; 
    --fg-dark: #AAABAD;

    --tab-height: 22px; --tab-icon-size: 16px; --tab-strip-margin: -12px;
    --tab-fonts: "tewi", monospace,"Dejavu Sans"; --tab-font-size: 10pt;
    --tab-triangle: block; /* block | none */
    /* URL VARIABLES */
    --url-background: #EBECEE; --url-color: var(--fg-dark);
    --url-height: 22px; --url-right-margin: 5px;
    --url-fonts: "tewi", "Lemon",monospace,"Dejavu Sans"; --url-font-size: 10pt;
    --url-text-align: center; /* left | center | right */
    --url-position: fixed; /* absolute == top (under tabs) || fixed == bottom of browser */
}

@-moz-document url(chrome://browser/content/browser.xul) {
    /* URL-BAR */
    #PanelUI-button, #bookmarks-menu-button, #downloads-button, #home-button, #stylish-toolbar-button, #abp-toolbarbutton,
    #back-button, #forward-button, #identity-box, #urlbar-reload-button, #urlbar-stop-button, #urlbar-go-button, #notification-popup-box,
    #new-tab-button, #alltabs-button, #private-browsing-indicator, #search-container { 
	display: none !important; 
    }
    .tab-drop-indicator { 
	margin-bottom: 0 !important; 
    }
    #nav-bar {
        position: var(--url-position) !important; 
	display: block !important;
	bottom: 0 !important;
        width: 100% !important; 
	height: var(--url-height) !important; 
	min-height: var(--url-height) !important; 
	max-height: var(--url-height) !important;
        margin: 0 0 0 0 !important;
	margin-bottom: 2px !important;
	border: none !important;
	background-color: var(--bg-dark);
    }
    #nav-bar-customization-target { 
	width: 100% !important; 
    }
    #urlbar-wrapper {
	width: 100% !important; 
	margin-top: 0px !important; /* adjust margin-top to ~ -5px if you experience gap */
	position: absolute !important; 
	top: 0 !important; 
	left: 0 !important;
	border: none !important;
	background-color: var(--bg-dark);
    }
    #urlbar {
	border: none !important; 
	border-radius: 0 !important;
	margin: 0 0 0 0 !important; 
	padding: 0 2px 0 9px !important;
	height: var(--url-height) !important; 
	min-height: var(--url-height) !important;
	background: var(--bg-dark) !important; 
	color: var(--fg-light) !important;
	font-family: var(--url-fonts) !important; 
	font-size: var(--url-font-size) !important;
	width: calc(100% + var(--url-right-margin)) !important; 
	text-align: var(--url-text-align) !important;
	background-color: var(--bg-dark);
    }
    /* TABS */
    .tabbrowser-tab[fadein]:not([pinned]) { 
	min-width: 30px !important; 
	max-width: 100% !important; 
    }
    tab {
        font-family: var(--tab-fonts) !important;
	text-decoration: none !important;
        min-height: var(--tab-height) !important; 
	height: var(--tab-height) !important;
	background: var(--url-background) !important; 
	color: #222222 !important;
        font-size: var(--tab-font-size); 
	text-shadow: none !important; 
	text-align: center !important;
	border: none !important;
    }
    tab[selected="true"] {
	color: var(--url-background) !important;
    }
    .tabbrowser-tab label { 
	padding: 0 calc(var(--tab-height)/1) 0 calc(var(--tab-height)/1) !important; 
    }
    .tabs-newtab-button, .tab-close-button, .tab-close, .tab-throbber, .tab-icon-image:not([pinned]), .tab-background-start, .tab-background-end { 
	display: none !important; 
    }
    #tabbrowser-tabs .tabbrowser-tab[pinned] { 
	width: 38px !important; 
    }
    #tabbrowser-tabs .tabbrowser-tab[pinned] label { 
	display: none !important; 
    }
    #tabbrowser-tabs .tabbrowser-tab[pinned] .tab-icon-image { 
	margin-left: 12px !important; 
	margin-top: -2px !important; 
	width: auto !important; 
	height: 16px !important; 
    }
    .tabbrowser-tab *, .tabs-newtab-button * {
        background: none !important; 
	list-style-image: none !important;
        margin: 0 0 0 0 !important; 
	padding: 0 0 0 0 !important; 
	-moz-appearance: none !important;
        margin: 0px /* 1px */ !important;
    }
    .tabbrowser-tab[selected="true"] .tab-stack {
        background: var(--bg-light) !important; 
	color: var(--fg-light) !important;
        border-radius: 0px !important; 
	position: relative !important; 
	margin: 0px /* 1px */ !important;
        /*border-top: 1px solid #9472ec !important;*/
    }
    .tabbrowser-tab[selected="true"]:before {    /* Left Triangle (of selected tab) */
        display: var(--tab-triangle); 
	content: '' !important; 
	position: absolute !important; 
	z-index: 2 !important;
        top: 0 !important; 
	left: -0px !important; 
	width: 0 !important; 
	height: 0 !important;
        border: none !important;
        /*
	border-left: calc(var(--tab-height)/2) solid var(--bg-dark) !important;
        border-top: calc((var(--tab-height)/2) - var(--tab-triangle-correction)) solid var(--bg-light) !important;
        border-bottom: calc((var(--tab-height)/2) + var(--tab-triangle-correction)) solid var(--bg-light) !important;*/
        /* 
	border-top: var(--tab-height) solid var(--bg-dark) !important;
        border-right: calc(var(--tab-height)/2) solid var(--bg-light) !important;
	*/
    }
    .tabbrowser-tab[selected="true"]:after {    /* Right Triangle (of selected tab) */
        display: var(--tab-triangle); 
	content: '' !important; 
	position: absolute !important; 
	z-index: 2 !important;
        top: 0 !important; 
	right: -0px !important; 
	width: 0 !important; 
	height: 0 !important;
	color: var(--bg-light) !important;
        border: none !important;
        /*
	border-right: calc(var(--tab-height)/2) solid var(--bg-dark) !important;
        border-top: calc((var(--tab-height)/2) - var(--tab-triangle-correction)) solid var(--bg-light) !important;
        border-bottom: calc((var(--tab-height)/2) + var(--tab-triangle-correction)) solid var(--bg-light) !important;
        border-top: var(--tab-height) solid var(--bg-dark) !important;
        border-left: calc(var(--tab-height)/2) solid var(--bg-light) !important;
	*/
    }
    #TabsToolbar, #tabbrowser-tabs {
        height: var(--tab-height) !important; 
	min-height: var(--tab-height) !important;
        -moz-appearance: none !important;
        margin-left: var(--tab-strip-margin) !important; 
	margin-right: var(--tab-strip-margin) !important;
        background: var(--bg-dark) !important;
    }
    #TabsToolbar::after { 
	display: none !important; 
    }
    .tabbrowser-tab::before, .tabbrowser-tab::after { 
	background: none !important; 
    }
    /* Remove line below tabs */
    #navigator-toolbox::after { 
	height: 0px !important; 
    }
    /* MENUS */
    menubar, menubutton, menulist, menu, menuitem { 
	font-family: var(--tab-fonts) !important; 
	font-size: var(--tab-font-size); 
	height: var(--tab-height) !important; 
    }
    menuitem + menuseparator, menu + menuseparator, .menu-iconic-left  { 
	display: none !important; 
    }
    menuitem > label { 
	margin-left: var(--tab-height) !important; 
    }
    /* HIDE ORANGE MENU BUTTON */
    #appmenu-toolbar-button, #appmenu-button-container { 
	display: none !important; 
    }
    /* HIDE STATUS BAR */
    #status-bar, #statusbar-display, statuspanel { 
	display: none !important; 
    }
    #main-window {
	margin-bottom: var(--url-height);
    }
    /* PRIVATE BROWSING ICON HIDE */
    #main-window[privatebrowsingmode=temporary] #private-browsing-indicator,
    #main-window[privatebrowsingmode=temporary] #private-browsing-indicator-titlebar { 
	display: none !important; 
    }
    #ac-url-wrapper {
	margin-left: 200px;
    }
    #autohide-context { display:none!important; } /* hide context menuitem "Exit Full Screen Mode" */
    #window-controls  { display:none!important; } /* hide window controls in full screen mode */
}

/* background color around/behind pictures opened in firefox */
@-moz-document regexp("(https?://|file:///)(.*).?(jpeg|jpg|gif|png|apng|svg|bmp|webm|webp)") {
    body { 
	background: var(--bg-light) !important; 
	color: var(--fg-dark) !important; 
    }
    img.decoded { 
	background: url(none) !important; 
    }
}
@-moz-document url(about:blank) {
    html,body { 
	background: var(--bg-light) !important; 
    }
}
/*----- Fix for white flash on new tab -----*/
tabbrowser tabpanels, #appcontent > #content { 
    background: var(--bg-light) !important; 
}
